@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

html,
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  font-family: "Nunito Sans", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#__next {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}
